[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*" 
pydicom = "*"
numpy = "*"
torch = "*"
matplotlib = "*"
monai = "*"
scipy = "*"
rt-utils = "*"

[dev-packages]
